<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Digits Predictor</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>
</head>
<body>
<div class="all">
    <!--    <div class="lefter">-->
    <!--        <div class="text">Hosting</div>-->
    <!--    </div>-->
    <div onclick="location.href='/info';" class="left">
        <div class="text">Informacje</div>
    </div>
    <div onclick="location.href='/app';" class="center">
        <div class="explainer"><span>Start</span></div>
        <div class="text">Uruchom aplikację</div>
    </div>
    <div onclick="location.href='/file';" class="right">
        <div class="text">Praca licencjacka</div>
    </div>
    <!--    <div class="righter">-->
    <!--        <div class="text">SEO</div>-->
    <!--    </div>-->
</div>
</body>
</html>